<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MLAlertDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>283B1B441D0163BA0071B509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>283B1B5D1D0163BA0071B509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>283B1B681D0163BA0071B509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
